.login-form{
  height: 100vh;
 
}
.login-form > div{
  border-radius: 2%;
  box-shadow: 0 10px 20px rgb(119, 119, 119);
  width: 500px;
  height: auto;
}
.nodata{
  height: 90vh;
}
.nav-link{
  color: blue;
}
.navbar{
  box-shadow: 0 10px 10px rgba(46, 46, 46, 0.219);  
  background:#363538;
}
.homelabel{
  height: 75vh;
}
.blogsitetitle{
  font-size: 120px;
}
.text-center * {
  justifyContent: center
}
.footer{
  background:#363538;
  position: fixed;
  width: 100%;
  top: 88%;  
  box-shadow: 10px 10px 10px 25px #49484854;
}
.bloglist{
  background: #8D8C8A;
}
.bg-none{
  background: none;
}

.bg-teal{
  background: #52D6F4;
}
.textteal{
  color: #52D6F4;;
}
.bg-blue{
  background: #408697;
}
.textblue{
  color: #408697;
}
.bgblack{
  background:#363538;
}
.textblack{
  color: #363538;
}
.bggrey{
  background:#8D8C8A;
}
.textgrey{
  color: #8D8C8A;;
}
.textwhite{
  color: #F6F6F6;
}
.bg-white{
  background: #F6F6F6;
}
.nav-link:focus{
  color: #52D6F4;;
}
.profile{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #408697;
  /* margin-right: 100px; */
}
.profile>img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.navul{
  height: 90vh;
}
.uProfile{
  height: 50vh;
  width: 100%;
}
.profile-img{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}